/* === general settings === */

@font-face {
  font-family: "Avenir LT";
  src: url(/css/webfonts/avenir_light-webfont.woff2) format("woff2"),
    url(/css/webfonts/avenir_light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT";
  src: url(/css/webfonts/avenir_heavy-webfont.woff2) format("woff2"),
    url(/css/webfonts/avenir_heavy-webfont.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0px;

  font-family: "Avenir LT", sans-serif;
  font-size: 13pt;

  overflow: hidden;
}

aside {
  margin: 0px 25px;
}

textarea {
  padding: 5px;

  resize: none;
}

/* === structure === */

/* main grid */

body {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 115px 15px 30px calc(100vh - 115px - 15px - 30px - 150px) 150px;
}

header {
  grid-area: 1 / 1 / span 1 / span 3;

  display: grid;
  grid-template-columns: subgrid;
  justify-items: center;
  align-items: center;
}

main {
  grid-area: 3 / 2 / span 3 / span 1;

  display: grid;
  grid-template-rows: subgrid;
}

#presentation-area,
#current-question {
  grid-row: 2 / 3;
  grid-column: 1;
}

#submit-question {
  grid-row: 3 / 4;
  grid-column: 1;
}

#class-overview {
  grid-area: 3 / 1 / span 3 / span 1;
}

#variable-content {
  grid-area: 2 / 3 / span 4 / span 1;

  display: grid;
  grid-template-rows: subgrid;
}

/* variable-content */

#content-nav {
  grid-area: 1 / 1 / span 2 / span 1;
}

#chat-section {
  grid-area: 3 / 1 / span 2 / span 1;

  display: grid;
  grid-template-rows: auto 100px;
}

/* header */

#logo {
  grid-column: 1 / 1;
  grid-row: 1;
}

#main-title,
#class {
  grid-column: 2 / 3;
  grid-row: 1;
}

#class {
  justify-self: left;
}

/* navigation */

.tab-nav,
.tab-nav ul {
  display: grid;
  grid-template-rows: subgrid;
  grid-auto-columns: 175px;
}

.tab-nav ul {
  grid-area: 1 / 1 / span all / span all;
}

.tab-nav li {
  grid-row: 2 / span 1;
}

.tab-nav .tab-selected {
  grid-row: 1 / span 2;
}

/* === styling === */

/* headings */

h1 {
  font-size: 35pt;
  font-weight: bold;
}

h2 {
  font-size: 17.5pt;
  font-weight: bold;
}

h3 {
  margin: 10px 0px 0px 30px;
  font-size: 10pt;
  font-weight: bold;
}

/* buttons */

.submit {
  margin: 5px 0px 5px 20px;
  padding: 5px 10px;

  border-radius: 10px;
}

/* navigation */

.tab-nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;

  align-items: stretch;
}

.tab-nav ul li {
  display: flex;
  align-items: center;

  padding: 6px 10px;

  font-weight: bold;
  background-color: #d8d8d8;
}

.tab-nav ul li:first-child {
  border-radius: 10px 0px 0px 0px;
}

.tab-nav ul li:last-child {
  border-radius: 0px 10px 0px 0px;
}

.tab-nav ul li img {
  margin-right: 10px;
}

.tab-selected {
  font-size: 15pt;

  border-radius: 10px 10px 0px 0px !important;
}

/* main */

main {
  background-color: #f2f2f2;
  border-radius: 10px 10px 0px 0px;
}

#presentation-area {
  margin: 20px 20px 0px 20px;
  border-radius: 5px;

  background: white;
}

form {
  margin: 20px;

  display: flex;
  align-items: flex-start;
}

main textarea {
  width: 70%;

  align-self: stretch;
  border-radius: 10px;
}

/* class-overview */

#class-overview {
  margin-top: 10px;
  margin-right: 10px;
  padding-right: 10px;

  overflow: auto;
}

.people {
  width: calc(100% - 60px);
  margin: 10px 0px 20px 0px;
  padding: 20px 20px 20px 40px;

  border-radius: 40px;
  background-color: #cde4f9;
}

/* variable-content */

#variable-content {
  border-radius: 10px 10px 0px 0px;
}

#content-nav {
  background-color: white;
}

.chat {
  background-color: #f6eef7;
}

.chat .tab-selected {
  background-color: #fbcff3;
}

/* chat-section */

#chat-section {
  margin: 15px 15px 0px 15px;
}

#chat {
  overflow: auto;

  border-radius: 5px;

  background-color: white;
}

#chat-section form {
  margin: 15px 0px;
}

#chat-section textarea {
  width: 100%;

  align-self: stretch;
  border-radius: 10px;
}
