/* === general settings === */

@font-face {
  font-family: "Avenir LT";
  src: url(/css/webfonts/avenir_light-webfont.woff2) format("woff2"),
    url(/css/webfonts/avenir_light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT";
  src: url(/css/webfonts/avenir_heavy-webfont.woff2) format("woff2"),
    url(/css/webfonts/avenir_heavy-webfont.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0px;

  font-family: "Avenir LT", sans-serif;
  font-size: 13pt;

  overflow: hidden;
}

aside {
  margin: 0px 25px;
}

textarea {
  resize: none;
}

/* === structure === */

/* main grid */

body {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr; /*265px 1107px 548px */
  grid-template-rows: 12vh 64vh 24vh; /*1fr 6fr 2fr*/ /*129px 724px 272px*/
}

header {
  grid-area: 1 / 1 / span 1 / span 3;

  display: grid;
  grid-template-columns: subgrid;
  justify-items: center;
  align-items: center;
}

main {
  grid-area: 2 / 2 / span 2 / span 1;

  display: grid;
  grid-template-rows: subgrid;
}

#current-question {
  grid-row: 3 / 4;
  grid-column: 1;
}

#class-overview {
  grid-area: 2 / 1 / span 2 / span 1;
}

#variable-content {
  grid-area: 2 / 3 / span 2 / span 1;
}

/* variable-content grid */

#variable-content {
  display: grid;
  grid-template-rows: 50px auto 100px;
}

#chat-section {
  grid-area: 2 / 1 / span 2 / span 1;

  display: grid;
  grid-template-rows: subgrid;
}

/* chat-section */

/* header */

#logo {
  grid-column: 1 / 1;
  grid-row: 1;
}

#main-title,
#class {
  grid-column: 2 / 3;
  grid-row: 1;
}

#class {
  justify-self: left;
}

/* === styling === */

/* headings */

h1 {
  font-size: 35pt;
  font-weight: bold;
}

h2 {
  font-size: 17.5pt;
  font-weight: bold;
}

h3 {
  margin: 10px 0px 0px 30px;
  font-size: 10pt;
  font-weight: bold;
}

/* buttons */

.submit {
  margin: 5px 0px 5px 20px;
  padding: 5px 10px;

  border-radius: 10px;
}

/* main */

main {
  background-color: #f2f2f2;
  border-radius: 10px 10px 0px 0px;
}

#presentation-area {
  margin: 20px 20px 0px 20px;
  background: white;
}

form {
  margin: 20px;

  display: flex;
  align-items: flex-start;
}

main textarea {
  width: 70%;

  align-self: stretch;
  border-radius: 10px;
}

/* class-overview */

#class-overview {
  margin-top: 10px;
}

.people {
  width: calc(100% - 60px);
  margin: 10px 0px 20px 0px;
  padding: 20px 20px 20px 40px;

  border-radius: 40px;
  background-color: #cde4f9;
}

/* variable-content */

#variable-content {
  border-radius: 10px 10px 0px 0px;

  background-color: #f6eef7;
}

/* => navigation */
#student-class-nav ul {
  list-style-type: none;
}

#student-class-nav ul li {
  display: inline;
  font-weight: bold;
}

.nav-selected {
  font-size: 15pt;
}

/* chat-section */

#chat-section {
  margin: 15px 15px 0px 15px;
}

#chat {
  background-color: white;
}

#chat-section form {
  margin: auto 0px;
}

#chat-section textarea {
  width: 100%;

  align-self: stretch;
  border-radius: 10px;
}
